/**********************CSS PERSONNALISE****************************/

/*.reveal section {
  border: 5px solid black;
}*/

.border {
  border: solid 2px black;
}

.titreAnimeAvant {
  margin-top: 200px; 
  font-size: 2.5em; 
  font-weight: bold;
  color: #0F417A;
}

.titreAnimeApres {
  color: #0F417A;
  position: absolute;
  top: -0.5em;
  left: 20%;
  text-align: left;
  font-weight: bold;
}